/* navbar */

body{
  background-color: #FFFCF8;
  font-family: 'Roboto', sans-serif;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active{
  color: #68ADD2;
}

.logo-img{
  width: 120px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link{
  color: black;
  font-weight: 600;
}

.btn-header2{
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  padding: 1rem 1rem;
}

.btn-header2:hover{
  background-color: #b0e0e6;
  color: black;
  text-decoration: none;
}

/* First section */

.header-1{
  background: rgb(213,205,97);
background: linear-gradient(98deg, rgba(213,205,97,1) 43%, rgba(243,195,120,1) 60%);
}

.header-text{
  font-size: 2.7rem;
  color: black;
  font-weight: 500;
  line-height: 3rem;;
}

.header-text2{
font-size: 1.5rem;

}

.btn-header{
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  padding: 1rem 2.7rem;
}

.btn-header:hover{
  background-color: #b0e0e6;
  color: black;
  text-decoration: none;
}

.header-2{
  background: rgb(168,194,192);
background: linear-gradient(98deg, rgba(168,194,192,1) 24%, rgba(196,202,251,1) 83%);
}

.bg-products{
  background-color: #FFFCF8;
}

/* Section 2 */

.sec2-text1{
  font-size: 3.2rem;
  color: black;
  font-weight: 400;
}

.sec2-text2{
  font-size: 2rem;
  color: black;
  font-weight: 400;
}

.img-background{
  background-image: url("images/screen-2.webp");
 background-size: cover;

}

.sec2-img{
  margin-top: 2rem;
  width: 800px;
  height: 450px;
}

@media only screen and (min-width: 992px) and (max-width: 1196px){
  .sec2-img{
    margin-top: 2rem;
    width: 700px;
    height: 350px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 991px){
  .sec2-img{

    width: 500px;
    height: 350px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 766px){
  .sec2-img{

    width: 350px;
    height: 300px;
  }
}
@media only screen and (max-width: 500px) {
  .sec2-img{

    width: 300px;
    height: 200px;
  }
}


.box-1{
  background-color: #2873A4;
  border-radius: 15px;
}
.box1-text{
  color: white;
  font-size: 1.6rem;
}

.box1-link{
  color: white;
  text-decoration: none;
}
.box1-link:hover{
  color: #b0e0e6;
  text-decoration: none;
}

.box-2{
  background-color: #58C1A2;
  border-radius: 15px;
}

.box-3{
  background-color: #FF9245;
  border-radius: 15px;
}

.btn-header3{
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  padding: 1rem 3.5rem;
}

.btn-header3:hover{
  background-color: #b0e0e6;
  color: black;
  text-decoration: none;
}

/* Section 3 */

.sec3-text1{
  font-size: 3.2rem;
  color: black;
  font-weight: 400;
}

/* Section 4 */

.bg-sec4{

background: #6CC8AD;
background: -webkit-linear-gradient(bottom right, #6CC8AD, #2D898F);
background: -moz-linear-gradient(bottom right, #6CC8AD,#2D898F);
background: linear-gradient(to top left, #6CC8AD, #2D898F);
}

.sec4-text2{
  font-size: 1.3rem;
}

/* Section 5 */
.icon1{
  background-color: #9ACCE7;
}
.icon-title{
  color: #008AFC;
  font-weight: 800;
  letter-spacing: 3px;
}

.icon-text{
  color: white;
  font-size: 1.1rem;
}
.icon-link{
  color: white;
}

.icon-link:hover{
  color: #68ADD2;
  text-decoration: none;
}

.icon2{
  background-color: #9CD6C5;
}

.icon3{
  background-color: #FFC8A2;
}
